.todo-list {
  max-width: 1000px;

  .form-control:focus { box-shadow: none !important; }
  .add:hover { background-color: #ddd; }

  .delete {
    height: 70px;
    width: 70px;

    &:hover {
      background-color: #dc3545;
      color: white;
    }
  }
}